.ass2{
    width: 350px;
}
.us2{
    width: 350px;
}
.ma2{
    width: 350px;
}

.res2{
    width: 350px;
}
.link{
    font-size: small;
}
.con1{
    position: absolute;
    margin-left: 190px;
    margin-top: -40px;
}
.con2{
    position: absolute;
    margin-left: 190px;
    margin-top: -20px;
}
.wrap{
    margin-left: 500px;
}
.person{
    margin-left: 500px;
    margin-top: 150px;
}
.acc1{
    margin-top: 10px;
}
.us1{
    margin-top: 10px;
}
.ema1{
    margin-top: 10px;
}
.pas1{
    margin-top: 10px;
}

.ad1{
    margin-top: 10px;
}

