
.im2{
    position: absolute;
    margin-left: 200px;
    margin-top: -40px;
}
.imik{
    position: absolute;
    margin-left: 200px;
    margin-top: -21px;
    width: 180px;
}
.vom3{
    width: 365px;
}
.vom4{
    width: 365px;
}
.vom5{
    width: 365px;
}
.vom6{
    width: 365px;
}
.vom7{
    width: 365px;
}



.company{
    margin-top: 10px;
}
.email{
    margin-top: 10px;
}
.country{
    margin-top: 10px;
}
.adress1{
    margin-top: 10px;
}
.adress2{
    margin-top: 10px;
}
